---
#version: "3.8"
services:
  db:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: shecounts-db
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    container_name: adminer_shecounts
    restart: always
    depends_on:
      - db
    ports:
      - "8085:8080"

  minio:
    image: minio/minio:latest
    container_name: shecounts_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadminpw
      MINIO_DEFAULT_BUCKETS: files
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio:/data
#    networks:
#      - app

#volumes:
#  db_data: null

volumes:
  db_data:
  minio:
