
.loginBtn {
    background-color: var(--myGrey) !important;
    color: white !important;
}

.loginBtn:hover {
    background-color: var(--myPink);
}


/* --- Navbar --- */
.nav-homepage,
.myBG {
    background-color: var(--myPastelGreen);
}

.myTitleFont {
    font-family: 'Lobster', cursive;
    color: white;
}

.mySearchBar {
    width: 110%;
    background-color: white;
    border: 2px solid var(--myPastelGreen);
    border-radius: 25px;
}

.logo {
    max-height: 70px;
    width: auto;
    height: auto;
}

/* Hide mobile login/profile elements on desktop */
@media (min-width: 992px) {
    .mobile-login {
        display: none !important;
    }
}

/* Hide desktop login/profile elements on mobile */
@media (max-width: 991px) {
    #loginBlock, #userBlock {
        display: none !important;
    }

    /* Make search bar full width on mobile (in hamburger menu) */
    .mobile-search {
        width: 100%;
        margin-bottom: 1rem;
    }
}



