:root {
    --myPastelGreen: #A9B8A3;
    --myGrey: #796F80;
    --myPink: #C3868D;
    --myDarkerPink: #b56468;
    --myBeige: #fbeae1;
}

.nav-homepage, .myBG {
    background-color: var(--myPastelGreen);
}

.myTitleFont {
    font-family: 'Lobster', cursive;
    color: white;
}

.mySearchBar {
    width: 110%;
    background-color: white;
    border: 2px solid var(--myPastelGreen);
    border-radius: 25px;
}

.logo {
    max-height: 40px;
    width: auto;
    height: auto;
}


.loginBtn {
    background-color: var(--myDarkerPink);
    color: white;
}

.loginBtn:hover {
    background-color: var(--myPink);
}

.magnifiyingGlass {
    text-shadow: 0 0 1px white;
    font-weight: bold;
}

.carousel-inner {
    background-color: var(--myBeige);
}

.carousel-slide-1{
    padding: 15px 0 15px 0;
}

.img-three-women-carousel {
    max-height: 200px;
    object-fit: cover;
}

h3.carousel-slide-1-text {
    font-size: 30px;
    text-align: center;
    max-width: 80%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%) brightness(0) contrast(200%);
}

.sideBar {
    background-color: pink;
    border-radius: 10px;
    position: sticky;
    top: 100px; /* Abstand von oben: Sticky wird erst ab hier aktiv */
}

.sideBarLink {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.sideBarLink:hover {
    color: #3e3b3b;
}

.p2Element {
    font-size: 1rem;
}

@media (max-width: 500px) {

    carousel-slide-1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3.carousel-slide-1 {
        text-align: center;
        font-size: 1rem; /* Mittelgroße Bildschirme (ab md) */
    }
}
@media (min-width: 768px) {
    h3.carousel-slide-1 {
        text-align: center;
        font-size: 2rem; /* Mittelgroße Bildschirme (ab md) */
    }
}

@media (min-width: 1200px) {
    h3.carousel-slide-1 {
        text-align: center;
        font-size: 2.5rem; /* Große Bildschirme (ab xl) */
    }
}