:root {
    --myPastelGreen: #A9B8A3;
    --myGrey: #796F80;
    --myPink: #C3868D;
    --myDarkerPink: #b56468;
    --myBeige: #FAFAF1;
    --basicFont: "Poppins", sans-serif;
}


body {
    font-family: var(--basicFont);
}

.nav-homepage, .myBG {
    background-color: var(--myPastelGreen);
}

.logo{
    width: 300px;
}

.mySearchBar {
    width: 110%;
    background-color: white;
    border: 2px solid var(--myPastelGreen);
    border-radius: 25px;
}

.loginBtn {
    background-color: var(--myDarkerPink);
    color: white;
}

.loginBtn:hover {
    background-color: var(--myPink);
}

.magnifiyingGlass {
    text-shadow: 0 0 1px white;
    font-weight: bold;
}
