:root {
    --myPastelGreen: #A9B8A3;
    --myGrey: #796F80;
    --myPink: #C3868D;
    --myDarkerPink: #b56468;
    --myBeige: #fbeae1;
}

body {
    box-sizing: border-box;
}

/* --- Navbar --- */
.nav-homepage, .myBG {
    background-color: var(--myPastelGreen);
}

.myTitleFont {
    font-family: 'Lobster', cursive;
    color: white;
}

.mySearchBar {
    width: 110%;
    background-color: white;
    border: 2px solid var(--myPastelGreen);
    border-radius: 25px;
}

.logo {
    max-height: 40px;
    width: auto;
    height: auto;
}

.loginBtn {
    background-color: var(--myGrey);
    color: white;
}

.loginBtn:hover {
    background-color: var(--myPink);
}

.magnifiyingGlass {
    text-shadow: 0 0 1px white;
    font-weight: bold;
}

/* --- Grid Cards --- */
.main-card-img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

@media (max-width: 767.98px) {
    .main-card-img {
        height: auto;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.375rem;
    }
}

.card {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

/* --- Carousel --- */
.carousel-inner {
    background-color: var(--myBeige);
}

.carousel-slide-3 h3 a {
    color: var(--myGrey);
    font-weight: 600;
    text-decoration: none;
}

.carousel-slide-3 h3 a:hover {
    color: var(--myDarkerPink);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%) brightness(0) contrast(200%);
}

/* --- Sidebar --- */
.sideBar {
    background-color: var(--myBeige);
    border-radius: 10px;
    position: sticky;
    top: 100px; /* Abstand von oben: Sticky wird erst ab hier aktiv */
    padding: 30px;
    height: 300px;
}

.sideBarLink {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.sideBarLink:hover {
    color: var(--myGrey);
}

.p2Element {
    font-size: 1rem;
}

/* Blogartikel */
.text-justify {
    text-align: justify;
    hyphens: auto;
}

/* --- Carousel Media Queries --- */

@media (max-width: 767px) {
    .carousel-slide-1,
    .carousel-slide-2,
    .carousel-slide-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 60px 15px 60px;
        min-height: 160px;
    }

    .carousel-slide-1 h3,
    .carousel-slide-2 h3,
    .carousel-slide-3 h3 {
        text-align: center;
        font-size: 14px;
    }

    .img-three-women,
    .img-empowering-fist {
        max-height: 60px;
        margin-right: 15px;
    }
}
@media (min-width: 768px) {
    .carousel-slide-1,
    .carousel-slide-2,
    .carousel-slide-3 {
        padding: 15px 200px 15px 200px;
        min-height: 260px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carousel-slide-1 h3,
    .carousel-slide-2 h3,
    .carousel-slide-3 h3 {
        text-align: center;
        font-size: 30px;
        padding: 60px 20px;
    }

    .img-three-women,
    .img-empowering-fist {
        margin-top: 30px;
        max-height: 200px;
        object-fit: cover;
    }
}

/* --- Grid Cards Media Queries --- */

