:root {
    --myPastelGreen: #A9B8A3;
    --myGrey: #796F80;
    --myPink: #C3868D;
    --myDarkerPink: #b56468;
    --myBeige: #fbeae1;
}

body {
    box-sizing: border-box;
}

/* --- Navbar --- */
.nav-homepage, .myBG {
    background-color: var(--myPastelGreen);
}

.myTitleFont {
    font-family: 'Lobster', cursive;
    color: white;
}

.mySearchBar {
    width: 110%;
    background-color: white;
    border: 2px solid var(--myPastelGreen);
    border-radius: 25px;
}

.logo {
    max-height: 40px;
    width: auto;
    height: auto;
}

.loginBtn {
    background-color: var(--myDarkerPink);
    color: white;
}

.loginBtn:hover {
    background-color: var(--myPink);
}

.magnifiyingGlass {
    text-shadow: 0 0 1px white;
    font-weight: bold;
}

/* --- Grid Cards --- */
.main-card-img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

@media (max-width: 767.98px) {
    .main-card-img {
        height: auto;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.375rem;
    }
}

.card {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

/* --- Carousel --- */
.carousel-inner {
    background-color: var(--myBeige);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%) brightness(0) contrast(200%);
}

/* --- Sidebar --- */
.sideBar {
    background-color: pink;
    border-radius: 10px;
    position: sticky;
    top: 100px; /* Abstand von oben: Sticky wird erst ab hier aktiv */
}

.sideBarLink {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.sideBarLink:hover {
    color: #3e3b3b;
}

.p2Element {
    font-size: 1rem;
}

/* --- Carousel Media Queries --- */
h3.carousel-slide-1-text {

}
@media (max-width: 767px) {
    .carousel-slide-1,
    .carousel-slide-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 100px 15px 100px;
        min-height: 180px;
    }

    .carousel-slide-1 h3,
    .carousel-slide-2 h3 {
        text-align: center;
        font-size: 16px;
    }

    .img-three-women-carousel {
        max-height: 30px;
    }
}
@media (min-width: 768px) {
    .carousel-slide-1,
    .carousel-slide-2 {
        padding: 15px 200px 15px 200px;
        min-height: 300px;
    }

    .carousel-slide-1 h3,
    .carousel-slide-2 h3 {
        text-align: center;
        font-size: 30px;
        padding: 60px 20px;
    }

    .img-three-women-carousel {
        max-height: 200px;
        object-fit: cover;
    }
}



