
    <footer class="container-fluid myBG p-5">
      <div class="d-flex justify-content-center text-white">
        <a
          href="../../pages/general/legal-notice.html"
          class="nav-link text-white text-decoration-none"
          >Impressum</a
        >
        &nbsp; / &nbsp;
        <a
          href="../../pages/general/privacy.html"
          class="nav-link text-white text-decoration-none"
          >Datenschutzerklärung</a
        >
        &nbsp; / &nbsp;
        <a
          href="../../pages/general/terms.html"
          class="nav-link text-white text-decoration-none"
          >AGB</a
        >
      </div>
    </footer>

