.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../img/home/hand-money.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section p.lead {
    font-weight: 400;
    padding: 0 30px;

}

.hero-section h1,
.hero-section p {
    color: white;
}

/*Call to Action*/
#call-to-action {
    background-color: var(--bg-call-to-action);
    width: 100%;
}

/* --- Carousel --- */
.carousel-inner {
    background-color: var(--bg-carousel)
}

.carousel-slide-3 h3 a {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
}

.carousel-slide-3 h3 a:hover {
    color: var(--color-secondary);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%) brightness(0) contrast(200%);
}

/* --- Carousel Media Queries --- */

@media (max-width: 767px) {
    .carousel-slide-1,
    .carousel-slide-2,
    .carousel-slide-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 60px 15px 60px;
        min-height: 160px;
    }

    .carousel-slide-1 h3,
    .carousel-slide-2 h3,
    .carousel-slide-3 h3 {
        text-align: center;
        font-size: 14px;
    }

    .img-three-women,
    .img-empowering-fist {
        max-height: 60px;
        margin-right: 15px;
    }
}
@media (min-width: 768px) {
    .carousel-slide-1,
    .carousel-slide-2,
    .carousel-slide-3 {
        padding: 15px 200px 15px 200px;
        min-height: 260px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carousel-slide-1 h3,
    .carousel-slide-2 h3,
    .carousel-slide-3 h3 {
        text-align: center;
        font-size: 30px;
        padding: 60px 20px;
    }

    .img-three-women,
    .img-empowering-fist {
        margin-top: 30px;
        max-height: 200px;
        object-fit: cover;
    }
}