:root {
    --myPastelGreen: #a9b8a3;
    --myGrey: #796f80;
    --myPink: #c3868d;
    --myDarkerPink: #b56468;
    --myBeige: #fbeae1;
    --myBorderRGB: 121, 111, 128;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/home/hand-money.jpg');
    /*filter: blur(2px);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section p.lead {
    font-weight: 400;
    padding: 0 30px;

}

.primary-btn {
    background-color: var(--myPink);
    color: white;
    transition: opacity 0.3s ease;
}

.btn-secondary {
    background-color: var(--myGrey);
    opacity: 0.9;
}

.primary-btn:hover {
    color: white;
    background-color: var(--myPink);
    opacity: 0.8;
}

.hero-section h1,
.hero-section p {
    color: white;
}

.card-container {
    margin: 30px;
}

.container a {
    text-decoration: none;
}

.card {
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* soft shadow effect */
    cursor: pointer;
}

#call-to-action {
    background-color: color-mix(in srgb, var(--myPink) 80%, white);
    width: 100%;
}

/* --- Grid Cards --- */
.main-card-img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

@media (max-width: 767.98px) {
    .main-card-img {
        height: auto;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.375rem;
    }
}
