#footer-placeholder {
    margin-top: 48px;
}

/* Media Queries */
@media (max-width: 991.98px) {
    footer .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 575.98px) {
    footer h5 {
        font-size: 1.25rem;
    }

    footer h6 {
        font-size: 1rem;
    }

    .social-link i {
        font-size: 1.25rem !important;
    }
}